body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eceaea;
}
.container{
  background-color: white ;
  padding: 20px;
  width: 400px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rbga(0,0,0,0.1);;
}
h1{
  text-align: center;
}
.task-input{
  display:flex;
  gap:10px;
}
input{
  padding: 8px;
  flex: 1;
}
button{
  padding:10px;
  cursor:pointer;
}
#taskList{
  padding :0%;
}
li{
display:flex;
align-items:center;
padding:10px;
margin:6px 0;
background:#e6e6e6;
border-radius:6px;
}

li span{
flex:1;
}

li button{
margin-left:8px;
padding:4px 10px;
}